<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>The Tech Blog</title>
  </head>
  <body>
    <div id="navbar-container" class="bg-primary mb-5">
      <div id="logo">The Tech Blog</div>
      <nav id="navbar">
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/login" id="loginBtn">
          {{#if loggedIn}}
            Logout
          {{else}}
            Login
          {{/if}}
        </a>
      </nav>
    </div>

    {{{body}}}

  </body>
</html>