<div class="form-container">

  <form action="submit" id="loginForm">
    <label for="usernameInput">Username:</label>
    <input id="usernameInput" type="text" />

    <label for="passwordInput">Password:</label>
    <input type="password" id="passwordInput" />

    <button id="formBtn">Login</button>
  </form>
</div>

<script src="./js/login.js"></script>